[code] {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  white-space: pre;
  font-size: 14px;
  line-height: 1.3;
  background: #272822;
  color: #75715e;
  padding: 8px;
  border-radius: 8px;
  overflow-x: auto;
  /* display: none; */
}
code[code] {
  display: inline-block;
}

xmp[code], pre[code] {
  display: block;
}

[code].active {
  margin: 10px;
}

[code] ol {
  list-style-type: decimal;
  margin: 0;
  padding: 0 0 0 40px;
}

[code] li {
  white-space: pre-wrap;
}

[code] span::selection {
  background: #919293;
}

[code] .i {
  font-style: italic;
}

[code] .red {
  color: #f92672;
}

[code] .purple {
  color: #ae81ff;
}

[code] .yellow {
  color: #e6db74;
}

[code] .white {
  color: #f8f8f2;
}

[code] .ryan {
  color: #66d9ef;
}

[code] .gold {
  color: #fd971f;
}

[code] .green {
  color: #a6e22e;
}